<header>
 <!-- TOP HEADER -->
 <div id="top-header">
     <div class="container">
         <ul class="header-links pull-left">
             <li><a href="#"><i class="fa fa-phone"></i> +345227674</a></li>
             <li><a href="#"><i class="fa fa-envelope-o"></i> nhom1@gmail.com</a></li>
         </ul>
         <ul class="header-links pull-right">
             <% if(user._id){%>
                <div class="dropdown ">
                    <div class="dropdown-toggle text-danger"  data-toggle="dropdown">
                        <li><a href="#"><i class="fa fa-user-o"></i><%=user.ho%><%=user.ten%></a></li>
                    </div>
                    <div class="dropdown-menu" >                                               
                        <a class="dropdown-item" href="/cart/list">Khóa học đã đăng kí</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/cart/orders">Khóa học của tôi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/cart/checkout">Mua khóa học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/info">Chi tiết tài khoản</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/support">Hỗ trợ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Đăng xuất</a>                    
                    </div>
                </div>
                <%}else{%>
                    <div class="dropdown ">
                        <div class="dropdown-toggle text-danger"  data-toggle="dropdown">
                            <li><a href="#"><i class="fa fa-user-o"></i>Tài khoản của tôi</a></li>
                        </div>
                        <div class="dropdown-menu" >                         
                            <a class="dropdown-item" href="/users/login">Đăng nhập</a>                                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/signup">Đăng ký tài khoản</a>                     
                        </div>
                    </div>
                    <%} %>
           
          
         </ul>
     </div>
 </div>
 <!-- /TOP HEADER -->

 <!-- MAIN HEADER -->
 <div id="header">
     <!-- container -->
     <div class="container">
         <!-- row -->
         <div class="row">
             <!-- LOGO -->
             <div class="col-md-2">
                 <h1 id="styleH1">HP</h1>
             </div>
             <!-- /LOGO -->

             <!-- SEARCH BAR -->
             <div class="col-md-7">
                 <div class="header-search">
                     <form method="POST" action="/product/search/all">
                         <select name="select" class="input-select">
                             <option value="0">Tất cả</option>
                             <option value="1">Theo tên</option>
                             <option value="2">Theo loại</option>
                             <option value="3">Theo giá</option>
                         </select>
                         <input type="text" class="input" name="key"  placeholder="Nhập từ khóa tìm kiếm">
                         <input type="submit" class="search-btn" value="Tìm kiếm" placeholder="Tìm kiếm"></input>
                     </form>
                 </div>
             </div>
             <!-- /SEARCH BAR -->
         </div>
         <!-- row -->
     </div>
     <!-- container -->
 </div>
 <!-- /MAIN HEADER -->
</header>