<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>An Toàn điện</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../../../stylesheets/css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../../stylesheets/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/style.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- HEADER -->
<%- include('../layouts/header'); -%>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a><a href="/">Trang chủ</a></a></li>
                <li><a><a href="/khoahoc/all">Tất cả</a></a></li>
                <li><a><a href="/khoahoc/lop3">Lớp 3</a></a></li>
                <li><a><a href="/khoahoc/lop4">Lớp 4</a></a></li>
                <li><a><a href="/khoahoc/lop5">Lớp 5</a></a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<div id="breadcrumb" class="section">
 <!-- container -->
 <div class="container">
     <!-- row -->
     <div class="row">
         <div class="col-md-12">
             <ul class="breadcrumb-tree">
                 <li><a href="/">Trang chủ</a></li>
                 <li><a href="#">Hỗ trợ trực tuyến</a></li>
             </ul>
         </div>
     </div>
     <h2>Chat Messages</h2>

<div class="containerhaha">
  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="containerhaha darker">
  <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="containerhaha">
  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="containerhaha darker">
  <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>
<br/>
<br/>
<br/>
<div class="form-group">
 <input class="input" type="text" name="ten" placeholder="Type message.." required="required" autofocus="autofocus">

 <button type="submit" class="btn">Send</button>
</div> 
     <!-- /row -->
 </div>
 <!-- /container -->
</div>
<!-- /BREADCRUMB -->


<!-- FOOTER -->

<!-- jQuery Plugins -->
<script src="../../javascripts/jquery.min.js"></script>
<script src="../../javascripts/bootstrap.min.js"></script>
<script src="../../javascripts/slick.min.js"></script>
<script src="../../javascripts/nouislider.min.js"></script>
<script src="../../javascripts/jquery.zoom.min.js"></script>
<script src="../../javascripts/main.js"></script>
<script src="../../javascripts/code.js"></script>
<style>


.containerhaha {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containerhaha::after {
  content: "";
  clear: both;
  display: table;
}

.containerhaha img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containerhaha img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>
</body>
</html>